<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<!-- 최신 버전의 ipa 파일의 경로를 입력. -->
					<string>https://1milliondancestudio.github.io/Entrance-Download-Web/versions/1.6.6-prod/entrance_app.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://1milliondancestudio.github.io/Entrance-Download-Web/images/test-image.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://1milliondancestudio.github.io/Entrance-Download-Web/images/test-image.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.1million.studiosystem</string>
				<key>bundle-version</key>
				<string>1.6.6</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>Entrance Manager</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
